@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-indent: 1.5px;
}

/* NAVBAR */

.navbar{
    padding: 15px 20px;
    width: 100%;
    position: sticky;
    border: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.navbar h1{
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    padding: 10px;
}
.violet{
    color: blueviolet;
}
.navbar h1 a{
    text-decoration: none;
    color: black;
    
}
.navbar ul li{
    display: inline-block;
    flex: wrap;
    list-style-type: none;
    font-size: 15px;
    padding: 10px 10px;
    font-family: 'Raleway', sans-serif;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.nav1{
    border: none;
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 0px 15px;
}
.navbar ul li:hover{
    font-size: 17px;
}
#login{
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}
#login:hover{
    background-color: rgb(73, 6, 136);
}

/* MAIN HEADING */

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: #ecf5de; */
    border-radius: 20px;
    margin: auto;
}
.mainhead{
    margin: 165px auto 165px auto;
}
.mainhead h1{
    font-size: 50px;
    text-align: center;
}
.mainhead h2{
    font-size: 20px;
    color: palevioletred;
    text-align: center;
    margin: 20px;
}
.search{
    text-align: center;
}
.search input{
    margin: 10px 0px;
    padding: 10px;
    border: none;
}
.search button{
    padding: 10px;
    background-color:paleturquoise;
    border: none;
    color:black;
}
.mainhead button:hover{
    background-color: rgb(95, 241, 241);
}
.search input:hover{
    border: none;
    color: black;
}

/* NEW IN */

.newin{
    padding: 30px;
    text-align: center;
}
.newin h1{
    font-size: 40px;
}
.new1{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.newdiv{
    width: 400px;
    text-align: center;
    height: 550px;
    border: solid;
    border-radius: 20px;
    border-color: rgb(194, 137, 247);
    margin: 10px 0px;
}
.new1 h3{
    padding: 10px;
}
.new1 p{
    padding: 10px;
}
.new1 h2{
    padding: 10px;
}
.new1 input{
    padding: 5px;
    margin: 15px;
    width: 50px;
    border: solid;
    border-color: rgb(194, 241, 241);
    border-radius: 10px;
}
.new1 img{
    width: 200px;
    height: 200px;
}
.cart{
    background-color: blueviolet;
    color: white;
}
.new1 button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

/* TESTIMONIAL */

.testimonial{
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
}
.test h1{
    text-align: center;
    padding: 20px;
}
.testimonial{
    margin: 20px;
}
.testimonial img{
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.quote{
    font-size: 40px;
    color: blueviolet;
}
.test p{
    padding: 10px;
    text-align: justify;
}
.test h3{
    padding: 10px;
}
.test h4{
    color: gray;
}
.test1{
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 248, 229);
    margin: 5px;
}
.test2{
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 248, 229);
    margin: 5px;
}
.test3{
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 248, 229);
    margin: 5px;
}

/* FOOTER */

.footer{
    background-color: rgb(231, 253, 253);
}
.footer1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    margin: 0px 30px;
}
.footer1 h3{
    padding: 20px;
    text-align: center;
}
.footer1 ul li{
    padding: 5px 20px;
    list-style-type: none;
}
.footer1 ul li a{
    text-decoration: none;
    color:  black;
}
.footer1 ul li img{
    width: 30px;
}
.footer1a{
    text-align: center;
}
.footer1b{
    text-align: center;
}
.footer1b ul li{
    display: inline-block;
    padding: 5px;
}
.footer1 ul li img:hover{
    width: 35px;
}
.footer1c{
    text-align: center;
}
.footer1c p{
    padding: 10px;
}
.footer1c button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
.footer2{
    background-color: black;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.footer2 a{
    color: white;
    text-decoration: none;
}

/* RESPONSIVE */

@media only screen and (max-width: 975px) {
    .navbar{
      display: block;
      text-align: center;
    }
    .navbar h1{
        padding: 20px;
    }
    .navbar ul{
        margin: 10px;
    }
    .mainhead{
        margin: 90px 50px 90px 50px;
    }
    .footer2{
        display: block;
        text-align: center;
    }
    .testimonial{
        display: flex;
        flex-wrap: wrap;
    }
  }